<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>

<div class="container ">
  <div class="card mx-auto" style="width: 30rem; margin-top: 10%">
    <img src="../img/undraw_begin_chat_c6pj.png" class="card-img-top">
    <div class="card-body bg-light">
      <h1 style="text-align:center;">Welcome back, {{userName}}!</h1>
    </div>
  </div>
</div>